
body.light {
    background: var(--b100) !important;
}

.light #title {
    color: var(--b20);
}

.light #path::-webkit-scrollbar-thumb {
    background: var(--b80);
}
.light .canHover #path::-webkit-scrollbar-thumb:hover {
    background: var(--b70) !important;
}
.light #path .part {
    color: var(--f50);
}
.light .canHover #path .part:hover,
.light #path .part:focus-visible {
    color: var(--b40) !important;
}
.light #path .part[href=""] {
    color: var(--b40);
}
.light #path .sep::after {
    color: var(--b70);
}

.light .card {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
    background: var(--b95);
}
.light .card .header,
.light .card .footer {
    background: var(--b95);
    color: var(--b55);
}
.light .card .body {
    background: var(--b100);
}

.light .bigIcon {
    color: var(--b40);
}
.light .errorDesc {
    color: var(--b60);
}

.light #fileList .fileEntry {
    color: var(--b30);
}
.light #fileList .fileEntry .modified,
.light #fileList .fileEntry .size {
    color: var(--b40);
}
.light.canHover #fileList .fileEntry:hover,
.light #fileList .fileEntry:focus-visible,
.light.canHover #fileList .fileEntry:hover,
.light #fileList .fileEntry:focus-visible {
    background: var(--b90) !important;
}
.light.canHover #fileList .fileEntry:hover .icon,
.light #fileList .fileEntry:focus-visible .icon {
    color: var(--f40) !important;
}
.light.canHover #fileList .fileEntry:hover .name div,
.light #fileList .fileEntry:focus-visible .name div {
    color: var(--f40) !important;
}
.light.canHover #fileList .fileEntry:hover .modified,
.light #fileList .fileEntry:focus-visible .modified,
.light.canHover #fileList .fileEntry:hover .size,
.light #fileList .fileEntry:focus-visible .size {
    color: var(--b30) !important;
}