
body {
    background: var(--b10);
    scroll-behavior: smooth;
}

#head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#title {
    font-family: 'Quicksand';
    font-size: 28px;
    font-weight: 600;
    color: var(--b90);
}

#path {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3px 0px;
    padding-bottom: 10px;
    margin-bottom: -5px;
}
#path::-webkit-scrollbar {
    height: 5px;
}
#path::-webkit-scrollbar-thumb {
    background: var(--b30);
    border-radius: 3px;
}
.canHover #path::-webkit-scrollbar-thumb:hover {
    background: var(--b50) !important;
}
#path .part {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 18px;
    color: var(--f75);
    flex-shrink: 0;
    transition: 0.1s var(--bezier);
}
.canHover #path .part:hover,
#path .part:focus-visible {
    color: var(--b70);
}
#path .part[href=""] {
    color: var(--b85);
    pointer-events: none;
}
#path .sep {
    flex-shrink: 0;
}
#path .sep::after {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 18px;
    color: var(--b50);
    content: '/';
}
#path .sep:last-child {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    border-radius: 16px;
}
.card .header,
.card .footer {
    display: flex;
    align-items: center;
    padding: 12px 15px 11px 15px;
    background: var(--b18);
    box-shadow: 0px 16px 0px 0px var(--b18);
    line-height: 1.2;
    color: var(--b70);
    border-radius: 16px 16px 0px 0px;
    user-select: none;
    word-break: break-word;
    z-index: 1;
}
.card .footer {
    box-shadow: 0px -16px 0px 0px var(--b18);
    border-radius: 0px 0px 16px 16px;
}
.card .body {
    padding: 20px 15px;
    background: var(--b15);
    border-radius: 14px;
    overflow: hidden;
    z-index: 2;
}
.card[data-preview-type="markdown"] .body img {
    max-width: 100%;
}
.card[data-preview-type="image"] .body {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.card[data-preview-type="image"] img {
    max-width: 100%;
}
.card[data-preview-type="video"] .body {
    padding: 0px;
    background: black;
}
.card[data-preview-type="video"] .body iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    min-height: 240px;
    margin-bottom: -3px;
}
.card[data-preview-type="audio"] .body {
    padding: 5px;
}
.card[data-preview-type="audio"] .body iframe {
    width: 100%;
    height: 200px;
}
.card[data-preview-type="text"] .body {
    padding: 0px;
}
.card[data-preview-type="text"] .body pre {
    margin: 0px;
    padding: 15px;
    background: none;
    max-height: unset;
}
.card[data-preview-type="text"] .body pre code {
    background: none;
}
.bigIcon {
    font-family: 'Material Symbols';
    font-size: 56px;
    color: var(--b50);
    user-select: none;
}

#fileList {
    padding: 3px;
}
#fileList.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 3px;
}
#fileList div.outer {
    display: flex;
    flex-direction: column;
}
#fileList .fileEntry {
    display: flex;
    color: var(--b90);
    line-height: 1.2;
    transition: 0.1s var(--bezier);
    border-radius: 12px;
}
#fileList.list .fileEntry {
    gap: 5px;
    align-items: center;
    height: 40px;
    padding: 0px 8px;
}
#fileList.tiles .fileEntry {
    flex-direction: column;
}
.canHover #fileList .fileEntry:hover,
#fileList .fileEntry:focus-visible,
.canHover #fileList .fileEntry:hover,
#fileList .fileEntry:focus-visible {
    color: inherit;
    background: var(--b25);
}
.canHover #fileList .fileEntry:hover .icon,
#fileList .fileEntry:focus-visible .icon {
    color: var(--f85);
}
.canHover #fileList .fileEntry:hover .name,
#fileList .fileEntry:focus-visible .name {
    color: var(--f95);
}
.canHover #fileList .fileEntry:hover .modified,
#fileList .fileEntry:focus-visible .modified,
.canHover #fileList .fileEntry:hover .size,
#fileList .fileEntry:focus-visible .size {
    color: white;
}
#fileList.list .fileEntry > *,
#fileList.list .fileEntry .name > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#fileList .fileEntry .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Material Symbols';
    font-size: 28px;
    color: var(--b70);
    line-height: 1;
}
#fileList.list .fileEntry .icon {
    width: 40px;
    flex-shrink: 0;
}
#fileList.tiles .fileEntry .icon {
    width: calc(100% - 12px);
    margin: 6px;
    margin-bottom: 0px;
    font-size: 64px;
}
#fileList.tiles .fileEntry .thumb {
    display: none;
    width: calc(100% - 12px);
    max-height: 200%;
    object-fit: cover;
    border-radius: 12px;
    margin: 6px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
#fileList.tiles .fileEntry .thumb.visible {
    display: block;
}
#fileList.list .fileEntry .name {
    flex-grow: 1;
}
#fileList.tiles .fileEntry .name {
    padding: 5px 10px 10px 10px;
    text-align: center;
    word-break: break-word;
}
#fileList.tiles .fileEntry .name > div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#fileList.list .fileEntry .name .lower {
    display: none;
    color: var(--b70);
    font-size: 15px;
}
#fileList.list .fileEntry .modified {
    width: 160px;
    color: var(--b80);
    flex-shrink: 0;
}
#fileList.list .fileEntry .size {
    width: 100px;
    color: var(--b80);
    flex-shrink: 0;
}

#fileListHeader:not(.search) .showOnSearch {
    display: none;
}
#fileListHeader.search .ShowOnSearch {
    display: flex;
}
#fileListHeader.search .hideOnSearch {
    display: none;
}
#searchInput {
    padding: 0px;
    height: 34px;
    width: 100%;
    border: none;
    border-radius: 0;
    color: white;
}
#searchInput:focus {
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* .canHover #counts:hover,
#counts:focus-visible {
    color: var(--f90);
    cursor: pointer;
} */
#counts .num {
    margin-top: 1px;
}
#counts .icon {
    font-family: 'Material Symbols';
    font-size: 20px;
    line-height: 1;
}

#download {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: bold;
}

#footer {
    padding: 20px;
    font-size: 15px;
    color: var(--b50);
    text-align: center;
}
#footer a {
    color: var(--b65);
}

.btn:hover {
    cursor: pointer;
}

.headerLink {
    padding: 0px 8px;
    font-family: 'Material Symbols';
    font-size: 0.8em;
    color: var(--b50);
}

@media screen and ( max-width: 640px ) {
    .container {
        padding: 20px 10px;
    }
    #head {
        padding: 0px 10px;
    }
    #fileList.list .fileEntry {
        height: 60px;
    }
    #fileList.list .fileEntry .name .lower {
        display: block;
    }
    #fileList.list .fileEntry .icon {
        width: 48px;
        font-size: 36px;
    }
    #fileList.list .fileEntry .modified,
    #fileList.list .fileEntry .size {
        display: none;
    }
}